@font-face {
  font-family: 'futuralight';
  src: url('futura_light_font-webfont.woff2') format('woff2'),
       url('futura_light_font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
  background:whitesmoke;  
}

h1{
  font-family: 'futuralight';
  font-size: 4em;
}
p{
  font-family: 'futuralight';
  font-size: 2em;
}